/*a
{
    text-decoration: none;
}*/

#algae-1
{
    left: 100px;
}

#algae-2
{
    left: 800px;
}

#algae-3
{
    left: 2100px;
}

#algae-4
{
    left: 2200px;
}

#algae-5
{
    left: 3500px;
}

#algae-6
{
    left: 3680px;
}

#algae-7
{
    left: 4900px;
}

#algae-8
{
    left: 5000px;
}

.algae-a
{
    position: absolute;
    bottom: 0px;
    width: 80px;
    height: 270px;
    background-image: url(../image/algae-a.png);
}

.algae-b
{
    position: absolute;
    bottom: 0px;
    width: 162px;
    height: 252px;
    background-image: url(../image/algae-b.png);
}

#alien
{
    position: absolute;
    left: 540px;
    bottom: 30px;
    width: 400px;
    height: 636px;
}

#alien-body
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 515px;
    background-image: url(../image/alien-body.png);
}

#alien-ship
{
    position: absolute;
    left: 0px;
    top: 515px;
    width: 400px;
    height: 121px;
    background-image: url(../image/alien-ship.png);
}

#alien-steer
{
    position: absolute;
    left: 90px;
    top: 430px;
    width: 220px;
    height: 170px;
    background-image: url(../image/alien-steer.png);
}

#balloon
{
    position: absolute;
    /*bottom: 20%;*/
    width: 400px;
    height: 700px;
    background-image: url(../image/balloon.png);
}

.banner
{
    margin-bottom: 60px;
}

.banner-button
{
    position: relative;
    width: 152px;
    height: 32px;
}

.banner-line
{
    position: relative;
    width: 440px;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 12px;
}

.banner-text-a
{
    position: relative;
    width: 440px;
    font-family: frankfurter-medium-plain;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 12px;
}

.banner-text-b
{
    position: relative;
    width: 440px;
    font-family: frankfurter-plain;
    color: #ffffff;
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 12px;
}

.banner-text-c
{
    position: relative;
    width: 440px;
    font-family: frankfurter-medium-plain;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 12px;
}

.banner-bottom-a
{
    position: relative;
    left: 20px;
    width: 480px;
    height: 56px;
    margin-top: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/banner-bottom-a.png);
}

.banner-bottom-b
{
    position: relative;
    left: 20px;
    width: 480px;
    height: 56px;
    margin-top: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/banner-bottom-b.png);
}

#banners-container
{
    position: absolute;
    left: 15%; 
    width: 520px;
}

.banner-middle-a
{
    position: relative;
    left: 20px;
    width: 440px;
    padding: 20px;
    background-color: #f7941d;
    overflow: hidden;
}

.banner-middle-b
{
    position: relative;
    left: 20px;
    width: 440px;
    padding: 20px;
    background-color: #f26d7d;
    overflow: hidden;
}

.banner-top-a
{
    position: relative;
    width: 520px;
    height: 23px;
    margin-bottom: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/banner-top-a.png);
}

.banner-top-b
{
    position: relative;
    width: 520px;
    height: 23px;
    margin-bottom: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/banner-top-b.png);
}

body
{
    margin: 0px;
    background-color: #00bff3;
}

#boxes
{
    position: absolute;
    left: 13900px;
    bottom: 20%;
    width: 700px;
    height: 100px;
    background-image: url(../image/box.png);
}

#bubble
{
    position: relative;
    left: -50%;
    width: 16px;
    height: 16px;
    background-image: url(../image/bubble.png);
}

#bubble-container
{
    position: absolute;
}

.building
{
    position: absolute;
}

#building-1
{
    left: 0px;
    bottom: 0px;
    width: 190px;
    height: 500px;
    background-image: url(../image/building-a.png);
}

#building-2
{
    left: 305px;
    bottom: 0px;
    width: 275px;
    height: 495px;
    background-image: url(../image/building-b.png);
}

#building-3
{
    left: 710px;
    bottom: 0px;
    width: 190px;
    height: 500px;
    background-image: url(../image/building-c.png);
}

.building-enemy-face-a
{
    position: absolute;
    left: 25px;
    top: 395px;
    width: 65px;
    height: 65px;
    background-image: url(../image/enemy-face-a.png);
}

.building-enemy-face-a-eyes
{
    position: absolute;
    left: 5px;
    top: 10px;
    width: 55px;
    height: 25px;
    opacity:0;
    filter:alpha(opacity=0);
    background-image: url(../image/enemy-face-a-eyes.png);
}

.building-enemy-face-b
{
    position: absolute;
    left: 80px;
    top: 375px;
    width: 80px;
    height: 80px;
    background-image: url(../image/enemy-face-b.png);
}

.building-enemy-face-b-eyes
{
    position: absolute;
    left: 7px;
    top: 15px;
    width: 66px;
    height: 30px;
    opacity:0;
    filter:alpha(opacity=0);
    background-image: url(../image/enemy-face-b-eyes.png);
}

#buspamplona-container
{
    position: absolute;
    left: 4098px;
    bottom: 20%;
    width: 1800px;
    height: 80%;
}

#buscortes-container
{
    position: absolute;
    left: 10000px;
    bottom: 20%;
    width: 1800px;
    height: 80%;
}

#busablitas-container
{
    position: absolute;
    left: 12000px;
    bottom: 20%;
    width: 1800px;
    height: 80%;
}

#buspago-container
{
    position: absolute;
    left: 150px;
    bottom: 0%;
    width: 1800px;
    height: 80%;
}

#pagocirsus-container{
    position: absolute;
    left: 13000px;
    bottom: 20%;
    width: 1050px;
    height: 80%;
}

#pagocirsus{
    background-image: url(../image/pagodecirsus-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0;
    width: 2000px;
    height: 479px;
    bottom: 0;
    left: 450px;
    position: absolute;
}

#layer-horizontal-4{
    
    position: absolute;
    left: 15000px;
    bottom: 20%;
    width: 2000px;
    height: 80%;
    background: #1c2647;
    display:none;
}

#noche-container{
    background: #1c2647;
    position: absolute;
    left: 14500px;
    bottom: 20%;
    width: 3800px;
    height: 80%;
}

.building-leg-container-a
{
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 470px;
    width: 190px;
    height: 30px;
}

.building-leg-container-b
{
    position: absolute;
    overflow: hidden;
    left: 70px;
    top: 465px;
    width: 150px;
    height: 30px;
}

.building-leg-frame-a
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 380px;
    height: 30px;
    background-image: url(../image/building-a-leg-frame.png);
}

.building-leg-frame-b
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 30px;
    background-image: url(../image/building-b-leg-frame.png);
}

.chain-block
{
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 90px;
    background-image: url(../image/chain-block.png);
}

.chain-block-string
{
    position: absolute;
    left: 28px;
    bottom: 60px;
    width: 44px;
    height: 100%;
    background-image: url(../image/chain-block-string.png);
}

.chain-block-and-string-container,.chain-block-and-string-container2
{
    position: absolute;
    width: 100px;
    height: 100%;
}

.coral-a
{
    position: absolute;
    width: 200px;
    height: 150px;
    bottom: -70%;
    background-image: url(../image/coral-a.png);
}

.coral-b
{
    position: absolute;
    width: 200px;
    height: 150px;
    bottom: -70%;
    background-image: url(../image/coral-b.png);
}

#coral-1
{
    left: 4800px;
}

#coral-2
{
    left: 5800px;
}

#coral-3
{
    left: 6800px;
}

.coral-big
{
    position: absolute;
}

#coral-big-1
{
    left: 1300px;
    bottom: -70%;
    width: 300px;
    height: 400px;
    background-image: url(../image/coral-big-a.png);
}

#coral-big-2
{
    left: 1700px;
    bottom: -70%;
    width: 650px;
    height: 500px;
    background-image: url(../image/coral-big-b.png);
}

#contact-box
{
    position: absolute;
    top: 120px;
    margin-left: -840px;
    width: 940px;
    height: 420px;
    background-image: url(../image/contact-box.png);
}

#contact-box-email
{
    position: absolute;
    left: 570px;
    top: 20px;
    width: 350px;
    height: 30px;
    background-image: url(../image/contact-box-hole-a.png);
}

#contact-box-email input
{
    font-family: Arial;
    font-size: 14px;
    color: #ffffff;
    width: 340px;
    margin: 5px;
    border: none;
    background-color: transparent;
}

#contact-box-email input:focus
{
    outline: none;
}

#contact-box-subject
{
    position: absolute;
    left: 570px;
    top: 65px;
    width: 350px;
    height: 30px;
    background-image: url(../image/contact-box-hole-a.png);
}

#contact-box-subject input
{
    font-family: Arial;
    font-size: 14px;
    color: #ffffff;
    width: 340px;
    margin: 5px;
    border: none;
    background-color: transparent;
}

#contact-box-subject input:focus
{
    outline: none;
}

#contact-box-message
{
    z-index: 256;
    position: absolute;
    left: 570px;
    top: 110px;
    width: 350px;
    height: 75px;
    background-image: url(../image/contact-box-hole-b.png);
}

#contact-box-message textarea
{
    font-family: Arial;
    font-size: 20px;
    color: #ffffff;
    width: 340px;
    height: 65px;
    margin: 5px;
    border: none;
    overflow:hidden;  /*no scroll bar*/
    resize: none; /*hide the resize corner handle*/
    background-color: transparent;
}

#contact-box-message textarea:focus
{
    outline: none;
}

#contact-button
{
    position: absolute;
    top: 315px;
    margin-left: -210px;
    width: 355px;
    height: 100px;
}

#contact-center
{
    position: absolute;
    height: 540px;
    left: 50%;
    bottom: 0%;
}



.contact-confirmation-container
{
    position: absolute;
    z-index: 258;
    left: 58%;
    bottom: 170px;
}

.contact-confirmation
{
    position: relative;
    width: 260px;
    height: 190px;
    left: -50%;
}

.contact-confirmation-rectangle
{
    position: absolute;
    width: 260px;
    height: 170px;
    background-color: #333333;
}

.contact-confirmation-title-a
{
    position: absolute;
    left: 30px;
    top: 26px;
    font-family: frankfurter-plain;
    color: #c69c6d;
    font-size: 35px;
}

.contact-confirmation-title-b
{
    position: absolute;
    left: 30px;
    top: 26px;
    font-family: frankfurter-plain;
    color: #c69c6d;
    font-size: 48px;
}

.contact-confirmation-text-a
{
    position: absolute;
    left: 30px;
    top: 70px;
    width: 200px;
    font-family: frankfurter-medium-plain;
    font-size: 19px;
    line-height: 22px;
    color: #aaaaaa;
}

.contact-confirmation-text-b
{
    position: absolute;
    left: 30px;
    top: 82px;
    width: 200px;
    font-family: frankfurter-medium-plain;
    font-size: 24px;
    line-height: 24px;
    color: #aaaaaa;
}

.contact-confirmation-text-c
{
    position: absolute;
    left: 30px;
    top: 82px;
    width: 200px;
    font-family: frankfurter-medium-plain;
    font-size: 25px;
    line-height: 25px;
    color: #aaaaaa;
}

.contact-confirmation-text-d
{
    position: absolute;
    left: 72px;
    top: 68px;
    font-family: frankfurter-medium-plain;
    font-size: 25px;
    color: #aaaaaa;
}

.contact-confirmation-triangle
{
    position: absolute;
    left: 120px;
    top: 170px;
    width: 20px;
    height: 20px;
    background-image: url(../image/contact-confirmation-triangle.png);
}

#contact-container
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-noscroll
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cloud
{
    position: absolute;
    width: 180px;
    height: 120px;
    background-image: url(../image/cloud.png);
    
}

#cloud-1
{
    left: 100px;
    top: 20%;
}

#cloud-2
{
    left: 600px;
    top: 5%;
}

#cloud-3
{
    left: 1300px;
    top: 30%;
}

#cloud-4
{
    left: 1900px;
    top: 20%;
}

#cloud-5
{
    left: 10%;
    bottom: 550px;
}

#cloud-6
{
    left: 25%;
    bottom: 1200px;
}

#cloud-7
{
    left: 70%;
    bottom: 1400px;
}

#cloud-8
{
    left: 40%;
    bottom: 1800px;
}

#cloud-9
{
    left: 80%;
    bottom: 2000px;
}

#container
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.crab
{
    position: absolute;
    width: 130px;
    height: 89px;
    overflow: hidden;
    background-image: url(../image/crab.png);
}

.crab-eyes
{
    position: absolute;
    left: 31px;
    top: 41px;
    width: 38px;
    height: 19px;
    opacity: 0;
    filter: alpha(opacity=0);
    background-image: url(../image/crab-eyes.png);
}

#crab-ribbon-container-1
{
    top: 0px;
}

#crab-ribbon-container-2
{
    top: 100px;
}

#crab-ribbon-container-3
{
    top: 200px;
}

#crab-ribbon-container-4
{
    top: 300px;
}

#crabs-container
{
    position: absolute;
    left: 270px;
    top: 50px;
    width: 730px;
    height: 489px;
}

#crab-text-container
{
    position: absolute;
    top: 79px;
    right: 760px;
    width: 480px;
    height: 440px;
}

.crane
{
    position: absolute;
    bottom: 20%;
    width: 110px;
    height: 80%;
    background-image: url(../image/crane.png);
    background-position: 0% 100%;
}

#crane-1
{
    left: 7750px;
}

#crane-2
{
    left: 9000px;
}

#detect-container
{
    position: absolute;
    background-color: #000000;
    padding: 10px;
    display: inline-block;

    opacity: 0.8;
    filter:alpha(opacity=80);
}

.detect-name
{
    font-family: arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.detect-value
{
    font-family: arial;
    color: #ffffff;
    font-size: 14px;
}

.displaynone
{
    display: none;
}

#dock-floor
{
    position:absolute;
    left: 19530px;
    top: 80%;
    width: 2970px;
    height: 50px;
    background-image: url(../image/dock-floor.png);
}

#dock-column
{
    position:absolute;
    left: 19530px;
    top: 80%;
    width: 2970px;
    height: 20%;
    background-image: url(../image/dock-column.png);
}

#elevation-1
{
    left: 2377px;
    bottom: 20%;
    width: 275px;
    height: 44px;
}

#elevation-1 .grass, #elevation-2 .grass, #elevation-3 .grass, #elevation-4 .grass{
    height: 20px;
    background-position-y: -30px;
}

#elevation-2
{
    left: 4580px;
    bottom: 20%;
    width: 300px;
    height: 44px;
}

#elevation-3
{
    left: 10500px;
    bottom: 20%;
    width: 300px;
    height: 44px;
}

#elevation-4
{
    left: 12659px;
    bottom: 20%;
    width: 300px;
    height: 44px;
}

.elevation
{
    position: absolute;
}

.elevation-box
{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
    background-image: url(../image/box.png);
}

.elevation-floor
{
    position: absolute;
    width: 100%;
    height: 50px;
    background-image: url(../image/floor.png);
}

.enemy-face-frame-a
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 130px;
    height: 65px;
    background-image: url(../image/enemy-face-frame-a.png);
}

.enemy-face-frame-b
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 160px;
    height: 80px;
    background-image: url(../image/enemy-face-frame-b.png);
}

#experience-1-container
{
    position: absolute;
    left: 14840px;
    bottom: 20%;
    width: 1000px;
    height: 80%;
}

#experience-2-container
{
    position: absolute;
    left: 16640px;
    bottom: 20%;
    width: 1000px;
    height: 80%;
}

#experience-3-container
{
    position: absolute;
    left: 18440px;
    bottom: 20%;
    width: 900px;
    height: 80%;
}

.experience-text-a
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    font-family: frankfurter-medium-plain;
    color: #ffffff;
    font-size: 35px;
    line-height: 35px;
}

.experience-text-b
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    font-family: frankfurter-plain;
    color: #ffffff;
    font-size: 60px;
    line-height: 54px;
}

.experience-text-c
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
}

.experience-text-d
{
    position: relative;
    width: 75%;
    margin-bottom: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
}

.experience-text-c a{
    color: #ffffff;
}

.experience-text-e
{
    position: relative;
    width: 85%;
    margin-bottom: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
}

.experience-text-container,.experience-text-container2
{
    position: absolute;
    bottom: 185px;
    width: 510px;
    background-color: #444444;
    padding: 40px;
    border-style:solid;
    border-width: 10px;
    border-color: #777777;
}

#email-button
{
    position: absolute;
    width: 485px;
    height: 230px;
    background-image: url(../image/email-button.png);
}

.face-left
{
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*ie*/
    filter: fliph; /*ie*/
}

.face-right
{
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#fence
{
    position: absolute;
    width: 740px;
    height: 100px;
    background-image: url(../image/fence.png);
}

.firework
{
    position: relative;
    left: -50%;
    top: -50%;
    width: 500px;
    height: 500px;
    background-color: transparent;
}

.firework-container
{
    position: absolute;
    width: 500px;
    height: 500px;
}

#firework-container-1
{
    left: 90%;
    top: 30%;
}

#firework-container-2
{
    left: 10%;
    top: 20%;
}

#firework-container-3
{
    left: 50%;
    top: 10%;
}

#firework-container-4
{
    left: 90%;
    top: 50%;
}

#firework-container-5
{
    left: 30%;
    top: 15%;
}

#firework-container-6
{
    left: 90%;
    top: 30%;
}

#fireworks-container
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.fish
{
    position: absolute;
    width: 125px;
    height: 93px;
    overflow: hidden;
    background-image: url(../image/fish.png);
}

.fish-eyes
{
    position: absolute;
    left: 18px;
    top: 45px;
    width: 39px;
    height: 18px;
    opacity:0;
    filter:alpha(opacity=0);
    background-image: url(../image/fish-eyes.png);
}

#fishes-container
{
    position: absolute;
    left: 270px;
    top: 50px;
    width: 725px;
    height: 493px;
}

#fish-ribbon-container-1
{
    top: 0px;
}

#fish-ribbon-container-2
{
    top: 100px;
}

#fish-ribbon-container-3
{
    top: 200px;
}

#fish-ribbon-container-4
{
    top: 300px;
}

#fish-text-container
{
    position: absolute;
    top: 83px;
    right: 760px;
    width: 480px;
    height: 440px;
}

#floor
{
    position: absolute;
    width: 100%;
    height: 50px;
    background-image: url(../image/floor.png);
}

@font-face
{
    font-family: 'frankfurter-medium-plain';
    src: url('../font/frankfurter-medium-plain.eot');
    src: url('../font/frankfurter-medium-plain.eot?#iefix') format('embedded-opentype'),
        url('../font/frankfurter-medium-plain.woff') format('woff'),
        url('../font/frankfurter-medium-plain.ttf') format('truetype'),
        url('../font/frankfurter-medium-plain.svg#frankfurter-medium-plain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'frankfurter-plain';
    src: url('../font/frankfurter-plain.eot');
    src: url('../font/frankfurter-plain.eot?#iefix') format('embedded-opentype'),
        url('../font/frankfurter-plain.woff') format('woff'),
        url('../font/frankfurter-plain.ttf') format('truetype'),
        url('../font/frankfurter-plain.svg#frankfurter-plain') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
    font-family: 'poster-sans-bold';
    src: url('../font/poster-sans-bold.eot');
    src: url('../font/poster-sans-bold.eot?#iefix') format('embedded-opentype'),
        url('../font/poster-sans-bold.woff') format('woff'),
        url('../font/poster-sans-bold.ttf') format('truetype'),
        url('../font/poster-sans-bold.svg#poster-sans-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.foundation
{
    position: absolute;
    top: 80%;
    height: 90%;
    background-image: url(../image/foundation.png);
}

#foundation-1
{
    left: 13320px;
    width: 6220px;
}

.gate
{
    position: absolute;
    bottom: 20%;
    width: 320px;
    height: 300px;
    background-image: url(../image/gate.png);
}

#gate-1
{
    left: 2100px;
}

#gate-2
{
    left: 7780px;
}

#gate-3
{
    left: 13320px;
}

#gate-4
{
    left: 19530px;
}

.gate-text
{
    position: absolute;
    top: 14px;
    font-family: frankfurter-plain;
    color: #ffffff;
    font-size: 60px;
}

#gate-text-1
{
    left: 37px;
}

#gate-text-2
{
    left: 32px;
}

#gate-text-3
{
    left: 32px;
}

#gate-text-4
{
    left: 29px;
}

.grass
{
    position: absolute;
    width: 100%;
    height: 50px;
    background-image: url(../image/grass.png);
}

.ground
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../image/ground.png);
}

#countdown{
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: lobster;
    color: #ffffff;
    font-size: 35px;
}

#ground-and-grass-container-1
{
    position: absolute;
    left: 0px;
    top: 80%;
    width: 18000px;
    height: 90%;
}

#ground-and-grass-container-2
{
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 1160px;
    height: 2000px;
}

img
{ 
    border-style: none;
}

#javascript-banner
{
    position: relative;
    left: -50%;
    margin-top: -115px;
    width: 600px;
    height: 230px;
}

#javascript-banner-container
{
    position: absolute;
    left: 50%;
    top: 50%;
}

#javascript-banner-left
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 230px;
    background-image: url(../image/javascript-banner-left.png);
}

#javascript-banner-middle
{
    position: absolute;
    left: 79px;
    top: 0px;
    width: 440px;
    height: 190px;
    background-color: #F7941D;
}

#javascript-banner-right
{
    position: absolute;
    left: 518px;
    top: 0px;
    width: 80px;
    height: 230px;
    background-image: url(../image/javascript-banner-right.png);
}

#javascript-banner-text-a
{
    position: relative;
    font-family: frankfurter-plain;
    color: #ffffff;
    font-size: 39px;
    text-align: center;
    margin-top: 37px;
}

#javascript-banner-text-b
{
    position: relative;
    font-family: frankfurter-plain;
    color: #ffffff;
    font-size: 72px;
    text-align: center;
    margin-top: -12px;
}

.layer-horizontal
{
    position: absolute;
    left: 0px;
    top: 100%;
    height: 100%;
}

#layer-horizontal-1
{
    width: 4000px;
}

#layer-horizontal-2
{
    width: 12000px;
}

#layer-horizontal-3
{
    width: 16900px;
}

.layer-vertical
{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#layer-vertical-1
{
    height: 3500px;
}

#layer-vertical-2
{
    height: 6000px;
}

#layer-vertical-3
{
    /*height is set by javascript*/
}

.mountain
{
    position: absolute;
    bottom: 20%;
    width: 800px;
    height: 400px;
    background-image: url(../image/mountain.png);
}

#mountain-1
{
    left: 1000px;
}

#mountain-2
{
    left: 2800px;
}

#nba-ball
{
    position:absolute;
    left: 415px;
    bottom: 250px;
    width: 70px;
    height: 70px;
    background-image: url(../image/nba-ball.png);
}

#nba-board-1
{
    left: 0px;
    bottom: 0px;
}

#nba-board-2
{
    left: 120px;
    bottom: 0px;
}

#nba-board-3
{
    left: 240px;
    bottom: 0px;
}

#nba-board-4
{
    left: 550px;
    bottom: 0px;
}

#nba-board-5
{
    left: 670px;
    bottom: 0px;
}

#nba-board-6
{
    left: 790px;
    bottom: 0px;
}

.nba-board-blue
{
    position:absolute;
    width: 110px;
    height: 140px;
    background-image: url(../image/nba-board-blue.png);
}

.nba-board-red
{
    position:absolute;
    width: 110px;
    height: 140px;
    background-image: url(../image/nba-board-red.png);
}

#castillo-container
{
    position: absolute;
    left: 6680px;
    bottom: 20%;
    width: 900px;
    height: 80%;
}

#nba-player
{
    position: relative;
    left: -50%;
    overflow: hidden;
    width: 300px;
    height: 280px;
}

#nba-player-eyes
{
    position: absolute;
    left: 92px;
    top: 75px;
    width: 66px;
    height: 30px;
    opacity:0;
    filter:alpha(opacity=0);
    background-image: url(../image/enemy-face-b-eyes.png);
}

#nba-player-container
{
    position: absolute;
    left: 50%;
    bottom: 0px;
}

#nba-player-frame
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 280px;
    background-image: url(../image/nba-player.png);
}

#nba-rim-container
{
    position: absolute;
    left: 310px;
    bottom: 0px;
    width: 280px;
    height: 500px;
}

#nba-rim
{
    position: absolute;
    width: 280px;
    height: 550px;
    background-image: url(../image/nba-rim.png);
}

.nba-text
{
    position: relative;
    top: -17px;
    font-family: frankfurter-plain;
    color: #ffffff;
    font-size: 120px;
    margin-left: -50%;
}

.nba-text-container
{
    position: absolute;
    left: 50%;
}

#hangar
{
    position: absolute;
    left: 8030px;
    bottom: 20%;
    width: 800px;
    height: 530px;
    background-color: #555555;
}

#hangar-door
{
    position: absolute;
    left: 100px;
    bottom: 0px;
    width: 600px;
    height: 290px;
    background-color: #333333;
}

#hangar-roof
{
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #aaaaaa;
}

#hangar-window
{
    position: absolute;
    left: 100px;
    top: 90px;
    width: 600px;
    height: 100px;
    background-image: url(../image/hangar-window.png);
}

#page
{
    left: 0px;
    top: 0px;
    width: 100%;
}

#panel
{
    position: absolute;
    top: 60px;
    width: 100%;
    height: 100%;
    background-image: url(../image/panel.png);
}

#panel-and-floor-container
{
    position: absolute;
    left: 13320px;
    top: 80%;
    width: 6210px;
    height: 90%;
    background-color: #444444;
    overflow: hidden;
}

.piechart
{
    position: absolute;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#piechart-aol
{
    left: 160px;
    top: 30px;
}

#piechart-aol-text-graphic-1
{
    left: 98px;
    top: 98px;
}

#piechart-aol-text-graphic-2
{
    left: 100px;
    top: 150px;
}

.piechart-back
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 300px;
    background-image: url(../image/piechart-back.png);
}

#piechart-foxnews
{
    left: 50px;
    top: 130px;
}

#piechart-foxnews-front
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 300px;
    background-image: url(../image/piechart-foxnews-front.png);
}

#piechart-foxnews-text-graphic-1
{
    left: 25px;
    top: 98px;
}

#piechart-foxnews-text-graphic-2
{
    left: 42px;
    top: 150px;
}

#piechart-foxnews-text-animation-1
{
    left: 191px;
    top: 155px;
}

#piechart-foxnews-text-animation-2
{
    left: 218px;
    top: 193px;
}

#piechart-foxnews-text-code-1
{
    left: 220px;
    top: 67px;
}

#piechart-foxnews-text-code-2
{
    left: 221px;
    top: 105px;
}

#piechart-incognito
{
    left: 135px;
    top: 20px;
}

#piechart-incognito-front
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 300px;
    background-image: url(../image/piechart-foxnews-front.png);
}

#piechart-incognito-text-graphic-1
{
    left: 202px;
    top: 155px;
}

#piechart-incognito-text-graphic-2
{
    left: 216px;
    top: 194px;
}

#piechart-incognito-text-animation-1
{
    left: 10px;
    top: 97px;
}

#piechart-incognito-text-animation-2
{
    left: 46px;
    top: 148px;
}

#piechart-incognito-text-code-1
{
    left: 220px;
    top: 67px;
}

#piechart-incognito-text-code-2
{
    left: 221px;
    top: 106px;
}

.piechart-text-a
{
    position: absolute;
    font-family: poster-sans-bold;
    color: #ffffff;
    font-size: 36px;
}

.piechart-text-b
{
    position: absolute;
    font-family: frankfurter-medium-plain;
    color: #ffffff;
    font-size: 30px;
}

.piechart-text-c
{
    position: absolute;
    font-family: poster-sans-bold;
    color: #ffffff;
    font-size: 50px;
}

.piechart-text-d
{
    position: absolute;
    font-family: frankfurter-medium-plain;
    color: #ffffff;
    font-size: 40px;
}

.plant
{
    position: absolute;
    width: 160px;
    height: 100%;
}

.plant-head-leaves
{
    position: absolute;
    width: 160px;
    height: 250px;
    background-image: url(../image/plant-head-leaves.png);
}

.plant-stalk
{
    position: absolute;
    left: 77px;
    top: 95px;
    width: 6px;
    height: 100%;
    background-color: #a67c52;
}

#plant-1
{
    left: 180px;
    top: 65%;
}

#plant-2
{
    left: 360px;
    top: 65%;
}

#plant-3
{
    left: 540px;
    top: 52%;
}

#plant-4
{
    left: 720px;
    top: 52%;
}

#bus-enmarcha{
    position: absolute;
    bottom: 20%;
    width: 900px;
    height: 80%;
    background-image: url(../image/buswithrobby.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
    display:none;
}

#castillo-container{
    background-image: url(../image/castillo-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
    width: 3364px;
    height: 1758px;
    bottom: 20%;
    left: 6015px;
}

#bus-parada{
    position: absolute;
    bottom: 0;
    width: 900px;
    height: 80%;
    background-image: url(../image/buspuertaabierta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
    display:none;
}

#bus-parada2 {
    position: absolute;
    bottom: 0;
    width: 900px;
    height: 80%;
    background-image: url(../image/buspuertaabierta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
    
}
#bus-parada3 {
    position: absolute;
    bottom: 0;
    width: 900px;
    height: 80%;
    background-image: url(../image/buspuertaabierta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
    display: none;    
}

#bus-parada4 {
    position: absolute;
    bottom: 0;
    width: 900px;
    height: 80%;
    background-image: url(../image/buspuertaabierta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
}
.ruedaanimate {
    background-image: url(../image/ruedabus.png);
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-size: cover;
    left: 173px;
}

#ruedaadelante{
    left:560px;
}

#pamplona-container
{
    position: absolute;
    left: 1880px;
    bottom: 20%;
    width: 900px;
    height: 80%;
    background-image: url(../image/bus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
}
#pamplona-container.puertaabierta
{
    background-image: url(../image/buspuertaabierta.png);
}

#pamplona-container.busconrobby
{
    background-image: url(../image/buswithrobby.png);
}

#pamplona-container.sinimagen{
    background-image: none;
}

.plant-line
{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

#plant-line-1
{
    bottom: 65%;
}

#plant-line-2
{
    bottom: 52%;
}

#plant-line-3
{
    bottom: 39%;
}

#plant-line-4
{
    bottom: 26%;
}

#plant-line-5
{
    bottom: 13%;
}

.plant-ribbon
{
    position: absolute;
}

#plant-ribbon-container
{
    position: absolute;
    width: 1200px;
    height: 40px;
    bottom: 70%;
}

#plant-ribbon-1
{
    left: 130px;
}

#plant-ribbon-2
{
    left: 338px;
}

#plant-ribbon-3
{
    left: 531px;
}

#plant-ribbon-4
{
    left: 712px;
}

.plant-ribbon-left
{
    position: relative;
    float: left;
    width: 20px;
    height: 40px;
    margin-right: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/plant-ribbon-left.png);
}

.plant-ribbon-middle
{
    position: relative;
    float: left;
    height: 34px;
    padding-top: 6px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #f7941d;

    font-family: frankfurter-plain;
    color: #ffffff;
    font-size: 24px;
}

.plant-ribbon-right
{
    position: relative;
    float: left;
    width: 20px;
    height: 40px;
    margin-left: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/plant-ribbon-right.png);
}

#plant-text-1
{
    bottom: 66%;
}

#plant-text-2
{
    bottom: 53%;
}

#plant-text-3
{
    bottom: 40%;
}

#plant-text-4
{
    bottom: 27%;
}

#plant-text-5
{
    bottom: 14%;
}

.plant-text
{
    position: absolute;
    left: 0px;
    font-family: frankfurter-medium-plain;
    color: #ffffff;
    font-size: 20px;
}

#preloader
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

#preloader-banner
{
    position: relative;
    left: -50%;
    margin-top: -115px;
    width: 600px;
    height: 230px;
}

#preloader-banner-container
{
    position: absolute;
    left: 50%;
    top: 50%;
}

#preloader-banner-left
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 230px;
    background-image: url(../image/preloader-banner-left.png);
}

#preloader-banner-middle
{
    position: absolute;
    left: 79px;
    top: 0px;
    width: 440px;
    height: 190px;
    background-color: #f26d7d;
}

#preloader-banner-right
{
    position: absolute;
    left: 518px;
    top: 0px;
    width: 80px;
    height: 230px;
    background-image: url(../image/preloader-banner-right.png);
}

#preloader-banner-text-a
{
    position: relative;
    font-family: frankfurter-plain;
    color: #ffffff;
    font-size: 72px;
    text-align: center;
    margin-top: 29px;
}

#preloader-banner-text-b
{
    position: relative;
    font-family: frankfurter-plain;
    color: #ffffff;
    font-size: 39px;
    text-align: center;
    margin-top: -12px;
}

#preloader-dots
{
    position: absolute;
    left: 194px;
    top: 130px;
    width: 53px;
    height: 9px;
}

.preloader-dots-animation
{
    background-image: url(../image/preloader-dots-animation.gif);
}

.preloader-dots-static
{
    background-image: url(../image/preloader-dots-static.png);
}

#robby
{
    position: relative;
    left: -50%;
    width: 200px;
    height: 175px;
    overflow: hidden;
}

#robby-container
{
    position: absolute;
    left: 50%;
    bottom: 100%;
}

#robby-eyes-close
{
    position: absolute;
    top: 35px;
    left: 90px;
    width: 55px;
    height: 25px;
    background-image: url(../image/robby-eyes-close.png);
}

#robby-slides
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1800px;
    height: 400px;
    background-image: url(../image/robby-slides-01.png);
}

#robby-slides.chicosolo{
    background-image: url(../image/robby-slides-02.png);
}
#robby-slides.chicasola{
    background-image: url(../image/robby-slides-03.png);
}

#robby-slides.parejacondos{
    background-image: url(../image/robby-slides-04.png);
}

#ribbon-2-1
{
    left: 9390px;
    top: 80%;
}

#ribbon-2-2
{
    left: 10735px;
    top: 80%;
}

#ribbon-2-3
{
    left: 12240px;
    top: 80%;
}

.ribbon-absolute
{
    position: absolute;
}

.ribbon-container
{
    position: absolute;
    width: 100%;
    height: 75px;
    top: 5%;
    text-align: center; /*to center div, combine with display: inline-block*/
}

.ribbon-left
{
    position: relative;
    float: left;
    width: 55px;
    height: 75px;
    margin-right: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/ribbon-left.png);
}

.ribbon-middle
{
    position: relative;
    float: left;
    height: 50px;
    background-color: #3F51B5;
    padding: 0 5px;
    font-family: lobster;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
}

.ribbon-right
{
    position: relative;
    float: left;
    width: 55px;
    height: 75px;
    margin-left: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/ribbon-right.png);
}

.ribbon-relative
{
    display: inline-block; /*to center div, combine with text-align: center*/
}

#robot
{
    position: absolute;
    left: 380px;
    bottom: 53px;
    width: 620px;
    height: 492px;
}

#robot-body
{
    position: absolute;
    left: 60px;
    top: 0px;
    width: 500px;
    height: 399px;
    background-image: url(../image/robot-body.png);
}

.robot-hand-a
{
    position: absolute;
    left: 0px;
    width: 160px;
    height: 137px;
    background-image: url(../image/robot-hand-a.png);
}

.robot-hand-b
{
    position: absolute;
    left: 20px;
    width: 120px;
    height: 137px;
    background-image: url(../image/robot-hand-b.png);
}

.robot-hand-c
{
    position: absolute;
    left: 60px;
    width: 40px;
    height: 137px;
    background-image: url(../image/robot-hand-c.png);
}

.robot-hand-d
{
    position: absolute;
    left: 20px;
    width: 120px;
    height: 137px;
    background-image: url(../image/robot-hand-d.png);
}

#robot-hand-left
{
    position: absolute;
    left: 0px;
    top: 355px;
    width: 160px;
    height: 137px;
}

#robot-hand-right
{
    position: absolute;
    left: 460px;
    top: 355px;
    width: 160px;
    height: 137px;
}

.sea
{
    position: absolute;
    top: 90%;
}

#sea-1
{
    left: 8100px;
    width: 5220px;
    height: 80%;
}

#sea-2
{
    left: 19530px;
    width: 2970px;
    height: 10%;
    background-color: #0072bc;
}

.sea-seal
{
    position: absolute;
    top: -1px;
    width: 100%;
    height: 2px;
    background-color: #0072bc;
}

#sea-layer-horizontal-1
{
    left: 0px;
    width: 100%;
    height: 85%;
    background-color: #0072bc;
}

#sea-floor
{
    position: absolute;
    left: 0px;
    top: 170%;
    width: 22500px;
    height: 5%;
    background-color: #c69c6d;
}

.sea-ribbon-container
{
    position: absolute;
    height: 40px;
    right: 0%;
}

.sea-ribbon-left
{
    position: relative;
    float: left;
    width: 20px;
    height: 40px;
    margin-right: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/sea-ribbon-left.png);
}

.sea-ribbon-middle
{
    position: relative;
    float: left;
    height: 34px;
    padding-top: 6px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #f26d7d;

    font-family: frankfurter-plain;
    color: #ffffff;
    font-size: 24px;
}

.sea-ribbon-right
{
    position: relative;
    float: left;
    width: 20px;
    height: 40px;
    margin-left: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/sea-ribbon-right.png);
}

.sea-wave
{
    position: absolute;
    bottom: 10%;
    height: 6px;
    background-image: url(../image/sea-wave.png);
}

#sea-wave-1
{
    left: 8100px;
    width: 5220px;
}

#sea-wave-2
{	
    left: 19530px;
    width: 2970px;
}

#skill-1-container
{
    position: absolute;
    left: 1020px;
    bottom: 0px;
    width: 1000px;
    height: 90%;
}

#skill-2-container
{
    position: absolute;
    left: 2420px;
    bottom: 0px;
    width: 1000px;
    height: 90%;
}

#skill-3-container
{
    position: absolute;
    left: 3820px;
    bottom: 0px;
    width: 1000px;
    height: 90%;
}

.skill-measurement
{
    position: absolute;
    bottom: 0px;
    height: 100%;
}

.skill-measurement-1
{
    left: 270px;
}

.skill-measurement-2
{
    left: 420px;
}

.skill-measurement-3
{
    left: 570px;
}

.skill-measurement-4
{
    left: 720px;
}

.skill-measurement-5
{
    left: 870px;
}

.skill-measurement-header
{
    position: absolute;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: #00bff3;

    font-family: frankfurter-medium-plain;
    color: #0072bc;
    font-size: 18px;
}

.skill-measurement-line
{
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #00bff3;
}

.scroll-or-swipe-text-container
{
    position: absolute;
    bottom: -120px;
    width: 100%;
    height: 50px;

    font-family: frankfurter-medium-plain;
    color: #ffffff;
    font-size: 30px;
    text-align: center;

    opacity: 0;
    filter: alpha(opacity=0);
}

#social-bottom
{
    position: relative;
    left: 20px;
    width: 80px;
    height: 21px;
    margin-top: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/social-bottom.png);
}

#social-container
{
    position: absolute;
    width: 120px;
    left: 85%;
}

#social-middle
{
    position: relative;
    left: 20px;
    width: 70px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #ed1c24;
}

#social-top
{
    position: relative;
    width: 120px;
    height: 23px;
    margin-bottom: -1px; /*to cover 1 line gap between div in safari*/
    background-image: url(../image/social-top.png);
}

.social-icon
{
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

#splash-container
{
    position: absolute;
    bottom: 20%;
    width: 1300px;
    height: 548px;
}

#squid
{
    position: absolute;
    left: 430px;
    bottom: 10px;
    width: 570px;
    height: 600px;
}

#squid-body
{
    position: absolute;
    left: 60px;
    top: 0px;
    width: 450px;
    height: 544px;
    background-image: url(../image/squid-body.png);
}

.squid-hand-close
{
    position: absolute;
}

#squid-hand-close-1
{
    left: 0px;
    top: 399px;
    width: 80px;
    height: 83px;
    background-image: url(../image/squid-hand-close-a.png);
}

#squid-hand-close-2
{
    left: 100px;
    top: 510px;
    width: 82px;
    height: 81px;
    background-image: url(../image/squid-hand-close-b.png);
}

#squid-hand-close-3
{
    left: 388px;
    top: 510px;
    width: 82px;
    height: 81px;
    background-image: url(../image/squid-hand-close-c.png);
}

#squid-hand-close-4
{
    left: 490px;
    top: 399px;
    width: 80px;
    height: 83px;
    background-image: url(../image/squid-hand-close-d.png);
}

.squid-hand-open
{
    position: absolute;
}

#squid-hand-open-1
{
    left: 0px;
    top: 394px;
    width: 85px;
    height: 100px;
    background-image: url(../image/squid-hand-open-a.png);
}

#squid-hand-open-2
{
    left: 94px;
    top: 502px;
    width: 96px;
    height: 97px;
    background-image: url(../image/squid-hand-open-b.png);
}

#squid-hand-open-3
{
    left: 380px;
    top: 502px;
    width: 96px;
    height: 97px;
    background-image: url(../image/squid-hand-open-c.png);
}

#squid-hand-open-4
{
    left: 485px;
    top: 394px;
    width: 85px;
    height: 100px;
    background-image: url(../image/squid-hand-open-d.png);
}

#title-about
{
    position: absolute;
    left: 2280px;
    bottom: 20%;
    width: 800px;
    height: 400px;
    background-image: url(../image/title-about.png);
}

#title-awards-and
{
    position: absolute;
    left: 19710px;
    bottom: 20%;
    width: 1060px;
    height: 420px;
    background-image: url(../image/title-awards-and.png);
}

#title-contact
{
    position: absolute;
    top: 0px;
    margin-left: -1040px;
    width: 1080px;
    height: 540px;
    background-image: url(../image/title-contact.png);
}

#title-experience
{
    position: absolute;
    left: 13500px;
    bottom: 20%;
    width: 1140px;
    height: 400px;
    background-image: url(../image/title-experience.png);
}

#title-gloria
{
    position:absolute;
    left: 200px;
    bottom: 0px;
    width: 793px;
    height: 300px;
    background-image: url(../image/title-miguel-01.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#title-fecha
{
    position:absolute;
    left: 220px;
    bottom: 0px;
    width: 793px;
    height: 183px;
    background-repeat: no-repeat;
    background-image: url(../image/title-miguel-03.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#title-publication
{
    position: absolute;
    left: 19910px;
    bottom: 20%;
    width: 1180px;
    height: 300px;
    background-image: url(../image/title-publication.png);
}

#title-miguel
{
    position:absolute;
    left: 0px;
    bottom: 0px;
    width: 1030px;
    height: 420px;
    background-image: url(../image/title-miguel-02.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#title-skills
{
    position:absolute;
    left: 0px;
    bottom: 0px;
    width: 820px;
    height: 400px;
    background-image: url(../image/title-skills.png);
}

.transparent
{
    opacity: 0;
    filter: alpha(opacity=0);
}

#tree-1
{
    left: 0px;
    bottom: 0px;
}

#tree-2
{
    left: 100px;
    bottom: 0px;
}

#tree-3
{
    left: 240px;
    bottom: 0px;
}

#tree-4
{
    left: 880px;
    bottom: 0px;
}

#tree-5
{
    left: 920px;
    bottom: 0px;
}

#tree-6
{
    left: 1060px;
    bottom: 0px;
}

#tree-7
{
    left: 2650px;
    bottom: 20%;
}

#tree-8
{
    left: 2750px;
    bottom: 20%;
}

#tree-9
{
    left: 3010px;
    bottom: 20%;
}

#tree-10
{
    left: 2850px;
    bottom: 20%;
}

#tree-11
{
    left: 800px;
    bottom: 0px;
}

#tree-12
{
    left: 920px;
    bottom: 0px;
}
#tree-13
{
    left: 1040px;
    bottom: 0px;
}

#tree-14
{
    left: 1160px;
    bottom: 0px;
}

#tree-15
{
    left: 1280px;
    bottom: 0px;
}

#tree-16
{
    left: 1400px;
    bottom: 0px;
}

#tree-17
{
    left: 1520px;
    bottom: 0px;
}

#tree-18
{
    left: 1640px;
    bottom: 0px;
}

#tree-19
{
    left: 1760px;
    bottom: 0px;
}

#tree-20
{
    left: -100px;
    bottom: 0px;
}

#tree-21
{
    left: 0px;
    bottom: 0px;
}

#tree-22
{
    left: 160px;
    bottom: 0px;
}

#tree-23
{
    left: 600px;
    bottom: 0px;
}

#tree-24
{
    left: 700px;
    bottom: 0px;
}

#tree-25
{
    left: 860px;
    bottom: 0px;
}

.tree-bright-a
{
    position:absolute;
    width: 140px;
    height: 95px;
    background-image: url(../image/tree-bright-a.png);
}

.tree-bright-b
{
    position:absolute;
    width: 140px;
    height: 185px;
    background-image: url(../image/tree-bright-b.png);
}

.tree-bright-c
{
    position:absolute;
    width: 200px;
    height: 240px;
    background-image: url(../image/tree-bright-c.png);
}

.tree-bright-d
{
    position:absolute;
    width: 200px;
    height: 300px;
    background-image: url(../image/tree-bright-d.png);
}

.tree-bright-e
{
    position:absolute;
    width: 200px;
    height: 430px;
    background-image: url(../image/tree-bright-e.png);
}

.tree-dark-a
{
    position:absolute;
    width: 140px;
    height: 95px;
    background-image: url(../image/tree-dark-a.png);
}

.tree-dark-b
{
    position:absolute;
    width: 140px;
    height: 185px;
    background-image: url(../image/tree-dark-b.png);
}

.tree-dark-c
{
    position:absolute;
    width: 200px;
    height: 240px;
    background-image: url(../image/tree-dark-c.png);
}

.tree-dark-d
{
    position:absolute;
    width: 200px;
    height: 300px;
    background-image: url(../image/tree-dark-d.png);
}

.tree-dark-e
{
    position:absolute;
    width: 200px;
    height: 430px;
    background-image: url(../image/tree-dark-e.png);
}

.turtle
{
    position:absolute;
    width: 125px;
    height: 75px;
    overflow: hidden;
    background-image: url(../image/turtle.png);
}

.turtle-eyes
{
    position: absolute;
    left: 3px;
    top: 27px;
    width: 39px;
    height: 18px;
    opacity: 0;
    filter: alpha(opacity=0);
    background-image: url(../image/turtle-eyes.png);
}

#turtle-ribbon-container-1
{
    top: 0px;
}

#turtle-ribbon-container-2
{
    top: 100px;
}

#turtle-ribbon-container-3
{
    top: 200px;
}

#turtle-ribbon-container-4
{
    top: 300px;
}

#turtles-container
{
    position: absolute;
    left: 270px;
    top: 50px;
    width: 725px;
    height: 475px;
}

#turtle-text-container
{
    position: absolute;
    top: 65px;
    right: 760px;
    width: 480px;
    height: 440px;
}

.waterfall
{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 860px;
    height: 100%;
}

#waterfall-1
{
    background-image: url(../image/waterfall-a.png);
}

#waterfall-2
{
    background-image: url(../image/waterfall-b.png);
}

.window
{
    position:absolute;
    width: 190px;
    height: 110px;
    background-image: url(../image/window.png);
}

#experience-text-container-1{
    left: 55px;
}
#experience-text-container-3{
    left: 55px;
    z-index:255;
}
#experience-text-container-4{
    left: 55px;
    z-index:255;
}
.experience-text-btn{
    background: #ffffff;
    border-radius: 4px;
    padding: 10px;
    font-family: "lobster";
    color: #333333;
}

#bus-horarios{
    background-image: url(../image/bushorarios-01.png);
    width: 300px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -26%;
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

#bus-horarios2{
    background-image: url(../image/bushorarios-02.png);
    width: 300px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 820px;
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    z-index: 255;
}
#pamplona-container{
    z-index: 255;
}
#elevation-1, #elevation-2, #elevation-3, #elevation-4{
    z-index: 256;
}
#robby-container{
    z-index: 257;
}

.luna{
    background-image: url(../image/luna.png);
    width: 100px;
    height: 200px;
    position: relative;
    background-size: contain;
    top: 9%;
    left: 10%;
    /* z-index: 256; */
    background-repeat: no-repeat;
}
.star{
    background-image: url(../image/star.png);
    width: 30px;
    height: 30px;
    position: absolute;
    background-size: cover;
    /* z-index: 256; */
}

#star-1{top: 2%;left: 2%;}
#star-2{ top: 21%;left: 25%;}
#star-3{top: 30%;left: 5%;}
#star-4{top: 50%;left: 1%;}
#star-5{top: 44%;left: 21%;}
#star-6{top: 7%;left: 35%;}
#star-7{top: 32%;left: 32%;}
#star-8{top: 67%;left: 27%;}
#star-9{top: 54%;left: 38%;}
#star-10{top: 70%;left: 33%;}
#star-11{top: 18%;left: 44%;}
#star-12{top: 5%;left: 53%;}
#star-13{top: 40%;left: 48%;}
#star-14{top: 75%;left: 45%;}
#star-15{top: 72%;left: 59%;}
#star-16{ top: 11%; left: 11%;}
#star-17{  top: 26%;left: 31%;}
#star-18{ top: 42%;left: 56%;}
#star-19{ top: 58%;left: 81%;}
#star-20{ top: 74%;left: 90%;}
#star-21{ top: 13%;left: 13%;}
#star-22{ top: 28%;left: 33%;}
#star-23{ top: 44%;left: 58%;}
#star-24{ top: 60%;left: 75%;}


#avion {
    background-image: url(../image/avion-01.png);
    /* position: relative; */
    /* bottom: 20%; */
    /* left: 0; */
    width: 689px;
    /* height: 400px; */
    background-size: contain;
    z-index: 255;
    position: absolute;
    height: 331px;
    left: 29%;
    bottom: 0%;
    background-repeat: no-repeat;
}

#selectinvitado,#infocamara{
    position: absolute;
    top: 0 !important; 
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 255;
}
#infocamara{
    top: -100px !important; 
    
}
#selectinvitado .experience-text-container2,#infocamara .experience-text-container2{
    left: 50%;
    margin-left: -255px;
}

#selectinvitado .chain-block-and-string-container2,#infocamara .chain-block-and-string-container2{
    bottom: 476px;
    left: 50%;
}

.ui-autocomplete{
    z-index: 300;
    max-height: 100px;
    overflow: hidden;
    font-size: 1.3em;
}
 .textbox { 
    -webkit-border-radius: 14px; 
    -moz-border-radius: 14px; 
    border-radius: 14px; 
    border: 1px solid #848484; 
    outline:0; 
    height:35px; 
    width: 275px; 
    font-size: 1.3em;
    padding-left: 5px;
 }  


.myButton {
	background-color:#9e0039;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:1px solid #7a0026;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: frankfurter-medium-plain;
	font-size:17px;
	padding:4px 31px;
        margin-left: 10px;
	text-decoration:none;
        font-size: 1.3em;
}
.myButton:hover {
	background-color:#7a0026;
}
.myButton:active {
	position:relative;
	top:1px;
}


.myButton:focus { outline:0 !important; }

#camarafotos{
    
    width: 99px;
    height: 300px;
    background-image: url(../image/camara-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 20px;
    left: 20px;
    position:absolute;
    z-index: 300;
    display: none;
    
}

#camarafotos.confoto{
    
    width: 99px;
    height: 300px;
    background-image: url(../image/camara-02.png);
    background-repeat: no-repeat;
    background-size: contain;
}